section.all-tweets {
  display: flex;
  flex-direction: column-reverse;
}

article.tweet {
  border-style: solid;
  border-width: 5px;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;

  margin-top: 2.5em;

  height: 300px;
}

article.tweet:hover {
  box-shadow: 5px 10px #CBCAC8;
}

article.tweet header {
  background-color: inherit;
  background-image: inherit;
  color: inherit;
  height: auto;

  flex-direction: row;
  justify-content: space-between;
}

article.tweet header div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

article.tweet header div img {
  position: inherit;
}

article.tweet header p.tweet-username {
  color: gray;
  opacity: 0.7;
  font-weight: 600;
}

article.tweet header div p {
  margin-left: 10px;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top-style: solid;
  border-width: 5px;
}

article.tweet footer div {
  color: #4056A1;
}

article.tweet footer div i:hover {
  color: #FFC063;
}