header {
  height: 400px;
  width: 100%;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #FFC063;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

  color: #FFFFFF;
}

header img {
  position: relative;
  top: 120px;

  height: 80%;
  width: auto;
}

header h2 {
  position: relative;
  top: 20%;
}

header span {
  font-weight: normal;
}

@media screen and (min-width: 1024px) {
  header {
    /* margin-left: 10%; */
    width: 50%;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  header div {
    display: flex;
    align-items: center;
  }

  header div img {
    top: 0;
  }

  header div h2 {
    margin: 0;
  }
}