nav {
  background-color: #FFC063;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

  color: #FFFFFF;
  
  height: 120px;
  width: 100vw;
  padding-left: 1.5em;
  padding-right: 1.5em;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;

  z-index: 1;
}

nav span {
  font-family: 'Bungee', cursive;
  
  margin-top: auto;
  margin-bottom: auto;
}

nav p {
  margin: 0;
}

nav i {
  text-align: center;
  color: red;

  animation: bounce 1s linear infinite;
  margin-top: 5px;
}

nav .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes bounce {
  0%,
  50% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}