section.new-tweet {
  font-weight: 600;
}

.new-tweet form {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  display: none;
}

.new-tweet form textarea {
  background-color: #f4f1ec;
  
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-width: 5px;
  border-color: #545149;

  width: 100%;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
}

.new-tweet form div button {
  border: none;
  
  background-color: #4056A1;

  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
}

.new-tweet form div output.invalid {
  color: red;
}

.new-tweet div.invalid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-tweet div.invalid p.invalid-input {
  border: 3px solid red;
  background-color: rgb(255, 0, 0, 50%);
  height: 1.5em;
  display: none;
}

@media screen and (min-width: 1024px) {
  .new-tweet h2 {
    margin-top: 0;
  }
}